<!DOCTYPE html>

<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
   let helpInit = function(){
      $("#idHelper").text("");
      $("#pwHelper").text("");
      $("#nameHelper").text("");
      $("#phoneHelper").text("");
      $("#addrHelper").text("");
      $("#emailHelper").text("");
   }
   $(document).ready(function(){
      $("#btn").click(function(){
         
         if($("#memberId").val().length < 4){
            helpInit();
            $("#idHelper").text("id를 4자이상");
            $("#memberId").focus();
            
         }else if($("#memberPw").val().length < 4){
            helpInit();
            $("#pwHelper").text("PW는 4글자 이상");
            $("#memberPw").focus();
            
         }else if($("#memberPw").val() != $("#memberPw2").val()){
            helpInit();
            $("#pwHelper").text("PW를 확인하세요");
            $("#memberPw").focus();
            
         }else if($("#memberName").val().length === 0){
            helpInit();
            $("#nameHelper").text("이름을 확인하세요");
            $("#memberName").focus();
         
         }else if($("#memberPhone").val().length === 0){
            helpInit();
            $("#phoneHelper").text("핸드폰 이름을 확인하세요");
            $("#memberPhone").focus();
            
         }else if($("#memberAddr").val().length === 0){
            helpInit();
            $("#addrHelper").text("주소를 확인하세요");
            $("#memberAddr").focus();
            
         }else if($("#memberEmail").val().length === 0){
            helpInit();
            $("#emailHelper").text("이메일를 확인하세요");
            $("#memberEmail").focus();
            
         }else{
            $("#myForm").submit();
         }
      });
   });
</script>
</head>
<body>
<div class="container">
<div align="center">
	<h1>회원가입</h1>
</div>	
	<form action="/addMember" method="post" id="myform">
		<div>
			아이디 : <input type="text" name="memberId" id="memberId" class="form-control">
			<span id="idHelper"></span>
		</div>
		<div>
			비밀번호 : <input type="text" name="memberPw" id="memberPw" class="form-control">
			<span id="pwHelper"></span>
		</div>
		<div>
			비밀번호 확인 : <input type="text" id="memberPw2" class="form-control">
		</div>
		<div>
			사용자이름 : <input type="text" name="memberName" id="memberName" class="form-control">
			<span id="nameHelper"></span>
		</div>
		<div>
			주소 : <input type="text" name="memberAddr" id="memberAddr" class="form-control">
			<span id="addrHelper"></span>
		</div>
		<div>
			전화번호 : <input type="text" name="memberPhone" id="memberPhone" class="form-control">
			<span id="phoneHelper"></span>
		</div>
		<div>
			이메일 : <input type="text" name="memberEmail" id="memberEmail" class="form-control">
			<span id="emailHelper"></span>
		</div>
		<div align="center">
			<button id="btn" class="btn btn-outline-primary">가입</button>
		</div>
	</form>
		
</div>	
</body>
</html>