<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}

#aside {
	width: 200px;
	height: 3000px;
	position: fixed;
	background: #CD6876;
	overflow: hidden;
	float: left;
}

#section {
	margin-left: 300px;
	background: white;
}
</style>
<script>
	let helpInit = function() {
		$("#").text("");
		
	}

	$(document).ready(function() {

		$("#commentBtn").click(function() {
			console.log("click");
			$("#commentForm").submit();
		});

	});
</script>
</head>

<body>
	<div id="body">
		<div id="aside">
			<h1>가계부 관리</h1>
			<div th:include="/include/menu::sidemenu"></div>
		</div>
		<div id="section">
			<h1>게시글 상세</h1>

			<table class="table">
				<tr>
					<td>제목</td>
					<td th:text="${board.boardTitle}"></td>
				</tr>
				<tr>
					<td>내용</td>
					<td th:text="${board.boardContent}"></td>
				</tr>
				<tr>
					<td>작성자</td>
					<td th:text="${board.memberId}"></td>
				</tr>
				<tr>
					<td>작성일시</td>
					<td th:text="${board.boardDate}"></td>
				</tr>
			</table>
			
			
			<!-- 댓글 입력 창  -->
			<form th:action="@{/addComment}" method="get" id="commentForm">
				<div class="input-group mb-3">
					<input type="text" class="form-control" id="commentContent" name="commentContent">
					<!-- 작성자 아이디 넘겨야함 --> 
					<input type="hidden" name="memberId" value="${memberId}">
					<input type="hidden" name="boardNo" value="${board.boardNo}">
				</div>
					<button class="btn btn-success" type="button" id="commentBtn">추가</button>
			</form>
			
			<!-- 댓글 리스트 -->
			<table id="commentList" class="table">
				<tr>
					<td>댓글</td>
					<td>아이디</td>
					<td>작성일자</td>
				</tr>
				<tr th:each="commentList: ${commentList}">
					<td th:text="${commentList.commentContent}"></td>
					<td th:text="${commentList.memberId}"></td>
					<td th:text="${commentList.commentDate}"></td>
				</tr>
			
			</table>
		</div>
	</div>
</body>
</html>