<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="margin-top: 200px;">
<head>
<meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<title>Insert title here</title>
   
</head>
<body>
<div class="container">
	<div align="center">
		<h1>CASH BOOK</h1>
		
		<!--  로그인 되어있을 때 -->
		<div th:if="${session.loginMember!=null}"> ON 
			<br><br>
			<div><a href="http://sokim4171.cafe24.com/logout" class="btn btn-primary col-sm-4">로그아웃</a></div>
			<br><br><br>
			<br><br><br><br><br>
		</div>
		
		<!-- 로그인 안되있을 때 -->
		<div th:if="${session.loginMember==null}"> OFF 
			<br><br>
			<div><a href="http://sokim4171.cafe24.com/login" class="btn btn-primary col-sm-4">로그인</a></div>
			<br>
			<div><a href="@{/addMember}" class="btn btn-primary col-sm-4">회원가입</a></div>
			<br><br><br><br><br>
		</div>
		
		<div>본 콘텐츠의 저작권은 제공처에 있으며, 이를 무단 이용하는 경우 저작권법 등에 따라 법적 책임을 질 수 있습니다.</div>
		<div><strong>Copyright © JWsoft Corp. All Rights Reserved.</strong></div>
	</div>
</div>
</body>
</html>