<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" style="margin-top: 200px;">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function () {
	$('#btn').button().click(function () {
		$('#loginForm').submit();
	});
});
</script>
</head>
<body>
<div class="container">


<div class="card">
<div align="center">
	<h1>로그인</h1>
	<form id="loginForm" action="/login" method="post">
		<div>
			member_id :
			<input type="text" id="memberId" name="memberId" class="form-control" style="width: 500px">
		</div>
		<div>
			member_pw :
			<input type="text" id="memberPw" name="memberPw" class="form-control" style="width: 500px">
		</div>
		<div>
			<span></span>
		</div>
		<div>
			<button id="btn" type="button" class="btn btn-outline-primary">로그인</button>
		</div>
	</form>
</div>
</div>
</div>		
</body>
</html>