<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.BoardMapper"> 

	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="com.gdu.cashbook.vo.Board">
		update board
		set board_title=#{boardTitle}, 
			board_content=#{boardContent}
		where board_no=#{boardNo}
	</update>


	<!-- 게시글 삭제  -->
	<delete id="deleteBoard" parameterType="int">
		delete from board
		where board_no=#{boardNo}
	</delete>

	<!-- 게시글 추가 -->
	<insert id="insertBoard" parameterType="com.gdu.cashbook.vo.Board">
		insert into board(
			member_id,
			board_title,
			board_content,
			board_date
		) values(
			#{memberId},
			#{boardTitle},
			#{boardContent},
			now()
		)
	</insert>



	<!-- 게시판 상세 페이지 -->
	<select id="selectBoardOne" parameterType="int" resultType="com.gdu.cashbook.vo.Board" >
		select
			board_no boardNo, 
			member_id memberId, 
			board_title boardTitle, 
			board_content boardContent, 
			board_date boardDate
		from board
		where board_no=#{boardNo}
	</select>

	<!-- 게시판 출력 -->
	<select id="selectBoardList" resultType="com.gdu.cashbook.vo.Board" >
		select 
			board_no boardNo, 
			member_id memberId, 
			board_title boardTitle, 
			board_date boardDate
		from board
	</select>
</mapper>