<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.CashMapper"> 

	
	<!-- 한달 총 합 구하기 리스트 -->
	<select id="selecetDayAndPriceList" parameterType="java.util.Map" resultType="com.gdu.cashbook.vo.DayAndSum">
		SELECT DAY(cash_date) AS day,
				SUM(CASE WHEN cash_kind='수입' THEN cash_price
					when cash_kind='지출' THEN -cash_price END) AS price
		FROM cash
		WHERE YEAR(cash_date)=#{year}
		AND MONTH(cash_date)=#{month}
		AND member_id=#{memberId}
		GROUP BY DAY(cash_date)
	</select>
	

	<!-- 가계부내용 추가  -->
	<insert id="insertCash" parameterType="com.gdu.cashbook.vo.Cash">
		insert into cash(
			category_name,
			cash_kind,
			cash_price,
			cash_place,
			cash_memo
		) VALUES(
			#{categoryName},
			#{cashKind},
			#{cashPrice},
			#{cashPlace},
			#{cashMemo}
		)
	</insert>
	<!-- 가계부 내용내 카테고리 드롭다운용 -->
	<select id="selectCashCategoryList" resultType="com.gdu.cashbook.vo.Cash">
		select 
			category_name
		from cash 
	</select>






	<!-- 리스트 삭제 -->
	<delete id="deleteCash" parameterType="String">
		delete from cash 
		where cash_no=#{cashNo}
	</delete>

 
 
 
 
 
 
 
   <!-- 사용자 지출 리스트 -->
   <select id="selectCashListByDate" parameterType="com.gdu.cashbook.vo.Cash" resultType="com.gdu.cashbook.vo.Cash">
      SELECT 
      	 cash_no cashNo,
         cash_kind cashKind,
         category_name categoryName,
         cash_price cashPrice,
         cash_place cashPlace,
         cash_memo cashMemo
      FROM cash
      WHERE member_id = #{memberId}
      AND cash_date = #{cashDate}
      ORDER BY cash_no = #{cashNo}
   </select>
   <!-- 합계 출력 -->
   <select id="selectCashKindSum" resultType="int" parameterType="com.gdu.cashbook.vo.Cash">
		SELECT
	         (SELECT IFNULL(SUM(cash_price) ,'0')
	          FROM cash
	          WHERE member_id = #{memberId}
	          AND   cash_kind = '수입'
	          AND   cash_date = #{cashDate})
	         -
	         (SELECT IFNULL(SUM(cash_price) ,'0') 
	          FROM cash
	          WHERE member_id = #{memberId}
	          AND   cash_kind = '지출'
	          AND   cash_date = #{cashDate})
	   FROM dual
	</select>
</mapper>